doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
        script(src='http://code.jquery.com/jquery-1.10.2.min.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
        script(src='/javascripts/lib/angular.js')
        script(src='/javascripts/lib/angular-route.js')
        script(src='/javascripts/lib/angular-animate.js')
        script(src='/javascripts/lib/ng-infinite-scroll.js')
        script(src='/javascripts/lib/socket.io.js')
        script(src='/javascripts/lib/socket.js')
        script(src='/javascripts/ctrl.js')

    body(ng-app='vizeGallery')
        div(ng-view)

